@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Serif+JP:wght@300;400;500;600;700&display=swap");
/*==========================================
  Common
==========================================*/
/* base
==================================*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Serif+JP:wght@300;400;500;600;700&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  color: #131313;
  font-family: YakuHanJP_Noto, "Noto Sans JP", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

.sp {
  display: none !important;
}

a {
  color: #131313;
  text-decoration: none;
  transition: 0.3s;
}

a:visited {
  color: #131313;
}

a:hover {
  color: #131313;
  text-decoration: none;
}

a:active {
  color: #131313;
}

a.tel {
  pointer-events: none;
  cursor: default;
}

/* main
==================================*/
main {
  display: block;
  /*IE対策*/
}

/*　Retina対応時のCSS↓　*/
/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 100px;
}

/* footer
==================================*/
footer {
  background: #000;
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
}

#pageTop.active {
  opacity: 1;
}

#pageTop a {
  display: block;
  width: 50px;
}

#pageTop a:hover {
  opacity: 0.7;
}

/* loader
==================================*/
#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

/* Animation
==================================*/
.c-anim-up {
  transform: translate(0, 30px);
  opacity: 0;
  transition: 0.3s ease;
}

.move {
  transform: translate(0, 0);
  opacity: 1;
}

.delay1 {
  -moz-transition-delay: 300ms;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
}

.delay2 {
  -moz-transition-delay: 600ms;
  -webkit-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  -ms-transition-delay: 600ms;
}

.delay3 {
  -moz-transition-delay: 900ms;
  -webkit-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  -ms-transition-delay: 900ms;
}

.delay4 {
  -moz-transition-delay: 1200ms;
  -webkit-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  -ms-transition-delay: 1200ms;
}

.delay5 {
  -moz-transition-delay: 1500ms;
  -webkit-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
}

.delay6 {
  -moz-transition-delay: 1800ms;
  -webkit-transition-delay: 1800ms;
  -o-transition-delay: 1800ms;
  -ms-transition-delay: 1800ms;
}

.delay7 {
  -moz-transition-delay: 2100ms;
  -webkit-transition-delay: 2100ms;
  -o-transition-delay: 2100ms;
  -ms-transition-delay: 2100ms;
}

/*==================================
  Component
==================================*/
html {
  overflow: auto;
}

html.no_move {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

img[src$=".png"], img[src$=".jpg"] {
  backface-visibility: hidden;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

@media (max-width: 899px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.row .col {
  position: relative;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
}

.row .col.col_4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

/*==================================
	リスト系
==================================*/
.news_ul {
  margin: 0 0 19px;
}

.news_ul .news_li {
  border-bottom: 1px solid #e8e8e8;
  padding: 22px 14px;
}

.news_ul .news_li > a {
  display: flex;
  align-items: center;
}

.news_ul .news_li > a .date {
  font-size: 16px;
  color: #919191;
  margin-right: 24px;
}

.news_ul .news_li > a .img_wrap {
  margin-right: 17px;
}

@media (min-width: 900px) {
  .news_ul .news_li > a .title {
    background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
    transition: background 0.4s ease;
  }
  .news_ul .news_li > a:hover .title {
    background-size: 100% 1px;
  }
}

@media (max-width: 899px) {
  .news_ul .news_li {
    padding: 14px 0;
  }
  .news_ul .news_li > a {
    display: block;
    position: relative;
    padding-left: 80px;
  }
  .news_ul .news_li > a .img_wrap {
    margin-right: 0;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
  }
  .news_ul .news_li > a .img_wrap img {
    max-width: 57px;
  }
  .news_ul .news_li > a .date,
  .news_ul .news_li > a .title {
    display: block;
  }
  .news_ul .news_li > a .date {
    font-size: 14px;
    margin: 0 0 7px;
  }
  .news_ul .news_li > a .title {
    font-size: 16px;
    line-height: 1.3;
  }
}

/*==================================
	ページナビ
==================================*/
.page_navigation .wp-pagenavi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px;
}

@media (max-width: 899px) {
  .page_navigation .wp-pagenavi {
    margin: 30px 0 40px;
  }
}

.page_navigation .wp-pagenavi > .page,
.page_navigation .wp-pagenavi .current {
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
}

.page_navigation .wp-pagenavi > .page:not(.current),
.page_navigation .wp-pagenavi .current:not(.current) {
  background-color: #f3f3f3;
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi > .page:not(.current):hover,
  .page_navigation .wp-pagenavi .current:not(.current):hover {
    color: #fff;
    background-color: #000;
  }
}

.page_navigation .wp-pagenavi > .page.current,
.page_navigation .wp-pagenavi .current.current {
  background-color: #000;
  color: #fff;
}

.page_navigation .wp-pagenavi .nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink {
  position: relative;
  font-weight: 500;
  box-sizing: border-box;
}

.page_navigation .wp-pagenavi .nextpostslink::before,
.page_navigation .wp-pagenavi .previouspostslink::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 9px;
  height: 14px;
  background-image: url(../images/common/pager_arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease;
}

.page_navigation .wp-pagenavi .nextpostslink.previouspostslink,
.page_navigation .wp-pagenavi .previouspostslink.previouspostslink {
  padding-left: 33px;
  margin-right: 30px;
}

.page_navigation .wp-pagenavi .nextpostslink.previouspostslink::before,
.page_navigation .wp-pagenavi .previouspostslink.previouspostslink::before {
  left: 0;
  transform: scale(-1, 1);
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.previouspostslink:hover::before,
  .page_navigation .wp-pagenavi .previouspostslink.previouspostslink:hover::before {
    left: -5px;
  }
}

.page_navigation .wp-pagenavi .nextpostslink.nextpostslink,
.page_navigation .wp-pagenavi .previouspostslink.nextpostslink {
  padding-right: 33px;
  margin-left: 30px;
}

.page_navigation .wp-pagenavi .nextpostslink.nextpostslink::before,
.page_navigation .wp-pagenavi .previouspostslink.nextpostslink::before {
  right: 0;
}

@media (min-width: 900px) {
  .page_navigation .wp-pagenavi .nextpostslink.nextpostslink:hover::before,
  .page_navigation .wp-pagenavi .previouspostslink.nextpostslink:hover::before {
    right: -5px;
  }
}

.page_navigation .wp-pagenavi .list_back {
  margin-left: 58px;
  margin-right: 58px;
}

.page_navigation .wp-pagenavi .list_back > a {
  font-weight: 500;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon {
  display: inline-block;
  padding-left: 24px;
  position: relative;
}

.page_navigation .wp-pagenavi .list_back > a > .list_icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  background-image: url(../img/news/list_icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.page_navigation > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 45px 0 50px;
}

.page_navigation > ul .link_page,
.page_navigation > ul .current_page {
  font-size: 16px;
  font-weight: 500;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 5px;
}

.page_navigation > ul .link_page:not(.current_page),
.page_navigation > ul .current_page:not(.current_page) {
  background-color: #f3f3f3;
}

@media (min-width: 900px) {
  .page_navigation > ul .link_page:not(.current_page):hover,
  .page_navigation > ul .current_page:not(.current_page):hover {
    color: #fff;
    background-color: #000;
  }
}

.page_navigation > ul .link_page.current_page,
.page_navigation > ul .current_page.current_page {
  background-color: #000;
  color: #fff;
}

/*==========================================
  Layout
==========================================*/
/*==================================
  Top
==================================*/
/*==================================
  Contact_reset
==================================*/
main#Contact {
  /*------ Reset CSS ------*/
  /*------ Reset END ------*/
}

main#Contact input {
  -webkit-appearance: none;
}

main#Contact input[type='text'] {
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
}

main#Contact input[type='radio'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='radio']:checked + label {
  background: #ff0000;
}

main#Contact input[type='checkbox'] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 1;
}

main#Contact input[type='checkbox']:checked + label {
  background: #ff0000;
}

main#Contact input::placeholder {
  color: #b7b7b7;
}

main#Contact input:-ms-input-placeholder {
  color: #b7b7b7;
}

main#Contact input::-webkit-input-placeholder {
  color: #b7b7b7;
}

main#Contact button,
main#Contact input[type='button'],
main#Contact input[type='submit'] {
  appearance: none;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

main#Contact textarea {
  appearance: none;
  resize: none;
  padding: 0;
  border: 0;
  outline: none;
  background: transparent;
  border-radius: 0;
}

main#Contact select {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 0;
}

/*==================================
  Contact_base
==================================*/
/* input, textarea
--------------------------------*/
/* radio_button
--------------------------------*/
main#Contact {
  /*------ Form Base ------*/
  /*------ Form Base END ------*/
}

@keyframes onAutoFillStart {
  from {
  }
  to {
  }
}

main#Contact span.error {
  color: #cc0303;
  display: block;
  margin: 7px 0 0;
}

main#Contact input:-webkit-autofill {
  animation-name: onAutoFillStart;
  background: white !important;
  transition: background-color 50000s ease-in-out 0s;
}

main#Contact input[type="text"]:focus,
main#Contact input[type="email"]:focus,
main#Contact input[type="tel"]:focus,
main#Contact input[type="search"]:focus,
main#Contact input[type="url"]:focus,
main#Contact textarea:focus {
  color: #000;
  background-color: #dddddd;
}

main#Contact .ERR {
  color: #cc0303;
}

main#Contact input[type="text"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  padding: 12px 21px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  color: #000;
  width: 100%;
}

main#Contact input[type="text"].zip {
  max-width: 247px;
  width: 100%;
}

main#Contact .zip-wrap {
  background: #dddddd;
  display: inline-block;
  position: relative;
  max-width: 247px;
  width: 100%;
  margin-right: 3px;
}

main#Contact .zip-wrap::before {
  content: "〒";
  font-size: 18px;
  position: absolute;
  top: 0.8em;
  left: 24px;
  margin: auto;
}

main#Contact .zip-wrap input {
  padding: 12px 21px 12px 55px;
  width: 100%;
}

main#Contact input[type="button"] {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-weight: 500;
  color: #000;
  max-width: 140px;
  width: 100%;
  background: #dddddd;
  border: 3px solid #dddddd;
  padding: 10px 19px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  cursor: pointer;
}

main#Contact input[type="button"]:hover {
  background: none;
}

main#Contact input[type="checkbox"] + label {
  padding-left: 29px;
  position: relative;
  margin-right: 29px;
  cursor: pointer;
}

main#Contact input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
}

main#Contact input[type="checkbox"] + label::after {
  content: "";
  opacity: 0;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  display: block;
  height: 9px;
  left: 7px;
  margin-top: -8px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}

main#Contact input[type="checkbox"]:checked + label {
  background: none;
}

main#Contact input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

main#Contact input[type="radio"] + label {
  padding-left: 27px;
  position: relative;
  margin-right: 27px;
  cursor: pointer;
}

main#Contact input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  border-radius: 50%;
}

main#Contact input[type="radio"] + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  background: #000;
  border-radius: 50%;
  opacity: 0;
}

main#Contact input[type="radio"]:checked + label {
  background: none;
}

main#Contact input[type="radio"]:checked + label::after {
  opacity: 1;
}

main#Contact .select-box {
  overflow: hidden;
  width: 60%;
  text-align: center;
  position: relative;
  border-radius: 2px;
  background: #dddddd;
}

main#Contact .select-box select {
  font-size: 16px;
  color: #000;
  letter-spacing: 0.035em;
  width: 100%;
  padding-right: 1em;
  cursor: pointer;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  background: transparent;
  background-image: none;
  box-shadow: none;
  appearance: none;
  padding: 12px 38px 12px 21px;
}

main#Contact .select-box select::-ms-expand {
  display: none;
}

main#Contact .select-box::before {
  position: absolute;
  top: 1.25em;
  right: 21px;
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
  pointer-events: none;
}

main#Contact textarea {
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: 1px solid #dddddd;
  background: #dddddd;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 21px;
  min-height: 174px;
}

main#Contact .overscroll {
  overflow-y: scroll;
  height: 237px;
  padding: 25px 21px;
  background: #dddddd;
}

main#Contact .overscroll ul > li {
  margin-bottom: 25px;
}

main#Contact .overscroll ul > li strong {
  font-size: 16px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 5px;
  color: #000;
}

main#Contact .overscroll ul > li p {
  font-size: 14px;
  line-height: 1.42;
}

main#Contact .overscroll ul > li > ol {
  margin-top: 5px;
}

main#Contact .overscroll ul > li > ol li {
  text-indent: -1.25em;
  padding-left: 1.25em;
}

main#Contact .overscroll ul > li:first-child strong {
  margin-bottom: 20px;
}

main#Contact .overscroll ul > li:last-child {
  margin-bottom: 0;
}

main#Contact .submit_area {
  margin-top: 85px;
  text-align: center;
}

main#Contact .submit_area span {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
}

main#Contact .submit_area span input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area span:hover {
  background: none;
}

main#Contact .submit_area span:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku {
  max-width: 590px;
  margin: 20px auto 0;
}

main#Contact .submit_area ul.koumoku li {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  width: 262px;
  background: #5f4b08;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #5f4b08;
  transition: all 0.3s ease;
}

main#Contact .submit_area ul.koumoku li input[type="submit"] {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #000;
  cursor: pointer;
  width: 100%;
  height: 58px;
  box-sizing: border-box;
}

main#Contact .submit_area ul.koumoku li:hover {
  background: none;
}

main#Contact .submit_area ul.koumoku li:hover input[type="submit"] {
  color: #000;
}

main#Contact .submit_area ul.koumoku li:hover svg path {
  fill: #000;
}

main#Contact .btn_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .btn_back input {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back {
  margin-top: 25px;
  text-align: center;
}

main#Contact .contact_back a {
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.13em;
  color: #fff;
  width: 262px;
  background: #dddddd;
  box-sizing: border-box;
  font-feature-settings: "palt";
  position: relative;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border: 3px solid #dddddd;
  transition: all 0.3s ease;
  height: 58px;
  padding: 15px 15px 14px;
}

main#Contact .contact_back a:hover {
  color: #000;
  background: none;
}

/*==================================
  Contact
==================================*/
main#Contact .container {
  margin: auto;
}

main#Contact .container p > a {
  background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
  background-size: 100% 1px;
  padding-bottom: 2px;
  display: inline;
}

main#Contact .container p > a:hover {
  color: #704f00;
  background: linear-gradient(#704f00, #704f00) 0 100%/0 1px no-repeat;
  background-size: 100% 1px;
}

main#Contact .agree_area {
  margin: 30px 0 0;
  text-align: center;
}

main#Contact .need {
  color: #cc0303;
}

main#Contact table {
  display: block;
}

main#Contact table tbody {
  display: block;
}

main#Contact table tr {
  display: block;
  margin-bottom: 30px;
}

main#Contact table tr th {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  font-weight: 500;
  display: block;
  text-align: left;
  margin-bottom: 13px;
}

main#Contact table tr td {
  display: block;
}

main#Contact table tr td .text02 {
  margin-top: 8px;
}

main#Contact .check-list {
  padding-top: 5px;
  padding-left: 0;
}

main#Contact .check-list li {
  display: inline-block;
}

main#Contact .form_wrap > p {
  margin-top: 0 !important;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */