/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  color: #131313;
  font-family: YakuHanJP_Noto, "Noto Sans JP", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.sp {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  transition: 0.3s;
  &:visited {
    color: $font-color;
  }
  &:hover {
    color: $font-color;
    text-decoration: none;
  }
  &:active {
    color: $font-color;
  }
  &.tel {
    pointer-events: none;
    cursor: default;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}
/*　Retina対応時のCSS↓　*/
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 100px;
}

/* footer
==================================*/
footer {
  background: #000;
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
    &:hover {
      opacity: 0.7;
    }
  }
}
