/*==================================
  Contact
==================================*/

main#Contact {
  .container {
    margin: auto;

    p > a {
      background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
      background-size: 100% 1px;
      padding-bottom: 2px;
      display: inline;

      &:hover {
        color: #704f00;
        background: linear-gradient(#704f00, #704f00) 0 100%/0 1px no-repeat;
        background-size: 100% 1px;
      }
    }
  }

  .agree_area {
    margin: 30px 0 0;
    text-align: center;
  }

  .need {
    color: #cc0303;
  }

  table {
    display: block;

    tbody {
      display: block;
    }

    tr {
      display: block;
      margin-bottom: 30px;

      th {
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0.03em;
        font-weight: 500;
        display: block;
        text-align: left;
        margin-bottom: 13px;
      }

      td {
        display: block;

        .text02 {
          margin-top: 8px;
        }
      }
    }
  }

  .check-list {
    padding-top: 5px;
    padding-left: 0;

    li {
      display: inline-block;
    }
  }

  .form_wrap {
    > p {
      margin-top: 0 !important;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.03em;
      font-weight: 500;
    }
  }
}
