/*==================================
  Contact_base
==================================*/

/* input, textarea
--------------------------------*/
$text-color: #000;
$input_bg_color: #dddddd;
$input_border_color: #dddddd;

/* radio_button
--------------------------------*/
$radio_button_in_color: #000;

main#Contact {
  /*------ Form Base ------*/
  @keyframes onAutoFillStart {
    from {
    }

    to {
    }
  }

  span.error {
    color: #cc0303;
    display: block;
    margin: 7px 0 0;
  }

  input:-webkit-autofill {
    animation-name: onAutoFillStart;
    background: rgb(255, 255, 255) !important;
    transition: background-color 50000s ease-in-out 0s;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="search"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    color: #000;
    background-color: $input_bg_color;
  }

  .ERR {
    color: #cc0303;
  }

  input[type="text"] {
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    padding: 12px 21px;
    border: 1px solid $input_border_color;
    background: $input_bg_color;
    box-sizing: border-box;
    color: $text-color;
    width: 100%;

    &.zip {
      max-width: 247px;
      width: 100%;
    }
  }

  .zip-wrap {
    background: $input_bg_color;
    display: inline-block;
    position: relative;
    max-width: 247px;
    width: 100%;
    margin-right: 3px;

    &::before {
      content: "〒";
      font-size: 18px;
      position: absolute;
      top: 0.8em;
      left: 24px;
      margin: auto;
    }

    input {
      padding: 12px 21px 12px 55px;
      width: 100%;
    }
  }

  input[type="button"] {
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    font-weight: 500;
    color: $text-color;
    max-width: 140px;
    width: 100%;
    background: $input_bg_color;
    border: 3px solid $input_border_color;
    padding: 10px 19px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background: none;
    }
  }

  input[type="checkbox"] {
    & + label {
      padding-left: 29px;
      position: relative;
      margin-right: 29px;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 22px;
        height: 22px;
        border: 1px solid $input_border_color;
        background: $input_bg_color;
        box-sizing: border-box;
      }

      &::after {
        content: "";
        opacity: 0;
        border-right: 3px solid $radio_button_in_color;
        border-bottom: 3px solid $radio_button_in_color;
        display: block;
        height: 9px;
        left: 7px;
        margin-top: -8px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 5px;
      }
    }

    &:checked + label {
      background: none;
      &::after {
        opacity: 1;
      }
    }
  }

  input[type="radio"] {
    & + label {
      padding-left: 27px;
      position: relative;
      margin-right: 27px;
      cursor: pointer;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 17px;
        height: 17px;
        border: 1px solid $input_border_color;
        background: $input_bg_color;
        box-sizing: border-box;
        border-radius: 50%;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 9px;
        height: 9px;
        background: $radio_button_in_color;
        border-radius: 50%;
        opacity: 0;
      }
    }

    &:checked + label {
      background: none;

      &::after {
        opacity: 1;
      }
    }
  }

  .select-box {
    overflow: hidden;
    width: 60%;
    text-align: center;
    position: relative;
    border-radius: 2px;
    background: $input_bg_color;

    select {
      font-size: 16px;
      color: $text-color;
      letter-spacing: 0.035em;
      width: 100%;
      padding-right: 1em;
      cursor: pointer;
      text-indent: 0.01px;
      text-overflow: ellipsis;
      border: none;
      outline: none;
      background: transparent;
      background-image: none;
      box-shadow: none;
      -webkit-appearance: none;
      appearance: none;
      padding: 12px 38px 12px 21px;

      &::-ms-expand {
        display: none;
      }
    }

    &::before {
      position: absolute;
      top: 1.25em;
      right: 21px;
      width: 0;
      height: 0;
      padding: 0;
      content: "";
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #000;
      pointer-events: none;
    }
  }

  textarea {
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    border: 1px solid $input_border_color;
    background: $input_bg_color;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 21px;
    min-height: 174px;
  }

  .overscroll {
    overflow-y: scroll;
    height: 237px;
    padding: 25px 21px;
    background: $input_bg_color;

    ul {
      > li {
        margin-bottom: 25px;

        strong {
          font-size: 16px;
          line-height: 1.25;
          font-weight: 500;
          letter-spacing: 0.03em;
          display: block;
          margin-bottom: 5px;
          color: $text-color;
        }

        p {
          font-size: 14px;
          line-height: 1.42;
        }

        > ol {
          margin-top: 5px;

          li {
            text-indent: -1.25em;
            padding-left: 1.25em;
          }
        }

        &:first-child {
          strong {
            margin-bottom: 20px;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .submit_area {
    margin-top: 85px;
    text-align: center;

    span {
      font-size: 18px;
      line-height: 1.4;
      letter-spacing: 0.13em;
      color: $text-color;
      width: 262px;
      background: $input_bg_color;
      box-sizing: border-box;
      font-feature-settings: "palt";
      position: relative;
      display: inline-block;
      text-align: center;
      box-sizing: border-box;
      border: 3px solid $input_border_color;
      transition: all 0.3s ease;

      input[type="submit"] {
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: 0.13em;
        color: $text-color;

        cursor: pointer;
        width: 100%;
        height: 58px;
        box-sizing: border-box;
      }

      &:hover {
        background: none;

        input[type="submit"] {
          color: $text-color;
        }
      }
    }

    ul.koumoku {
      max-width: 590px;
      margin: 20px auto 0;

      li {
        font-size: 18px;
        line-height: 1.4;
        letter-spacing: 0.13em;
        color: $text-color;

        width: 262px;
        background: #5f4b08;
        box-sizing: border-box;
        font-feature-settings: "palt";
        position: relative;
        display: inline-block;
        text-align: center;
        box-sizing: border-box;
        border: 3px solid #5f4b08;
        transition: all 0.3s ease;

        input[type="submit"] {
          font-size: 18px;
          line-height: 1.4;
          letter-spacing: 0.13em;
          color: $text-color;

          cursor: pointer;
          width: 100%;
          height: 58px;
          box-sizing: border-box;
        }

        &:hover {
          background: none;

          input[type="submit"] {
            color: $text-color;
          }

          svg {
            path {
              fill: $text-color;
            }
          }
        }
      }
    }
  }

  .btn_back {
    margin-top: 25px;
    text-align: center;

    input {
      font-size: 18px;
      line-height: 1.4;
      letter-spacing: 0.13em;
      color: #fff;
      width: 262px;
      background: $input_bg_color;
      box-sizing: border-box;
      font-feature-settings: "palt";
      position: relative;
      display: inline-block;
      text-align: center;
      box-sizing: border-box;
      border: 3px solid $input_border_color;
      transition: all 0.3s ease;
      height: 58px;
      padding: 15px 15px 14px;
    }
  }

  .contact_back {
    margin-top: 25px;
    text-align: center;

    a {
      font-size: 18px;
      line-height: 1.4;
      letter-spacing: 0.13em;
      color: #fff;
      width: 262px;
      background: $input_bg_color;
      box-sizing: border-box;
      font-feature-settings: "palt";
      position: relative;
      display: inline-block;
      text-align: center;
      box-sizing: border-box;
      border: 3px solid $input_border_color;
      transition: all 0.3s ease;
      height: 58px;
      padding: 15px 15px 14px;

      &:hover {
        color: $text-color;
        background: none;
      }
    }
  }

  /*------ Form Base END ------*/
}
