/*==================================
  History
==================================*/
#History main {
  .history-section{
    .wrapper{
      padding: 0 0 130px;
      .container{
        .history-table{
          width: 100%;
          border: 1px solid #e2e4e5;
          tbody{
            tr{
              display: flex;
              flex-wrap: wrap;
              &:not(:last-child){
                border-bottom: 1px solid #e2e4e5;
              }
              th{
                width: 220px;
                background-color: #f5f7f9;
                border-right: 1px solid #e2e4e5;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: .1em;
                color: #131313;
                text-align: left;
                line-height: 32px;
                padding: 11px 0 12px 40px ;
              }
              td{
                width: calc(100% - 220px);
                font-size: 16px;
                font-weight: 500;
                letter-spacing: .1em;
                color: #131313;
                text-align: left;
                line-height: 32px;
                padding: 11px 40px 12px 40px;
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
