/*==================================
  Message
==================================*/
#Message main {
  .message_section{
    .wrapper{
      padding: 0 0 120px;
      .container{
        .ttl{
          padding: 0 80px;
          @include Noto_Serif(500);
          font-size: 42px;
          letter-spacing: .08em;
          line-height: 67.2px;
          color: #001c3e;
          margin: 55px 0 0;
        }
        .desc{
          padding: 0 80px;
          font-size: 16px;
          letter-spacing: .1em;
          line-height: 48px;
          margin: 20px 0 0;
          text-align: justify;
        }
        .representative{
          padding: 0 80px;
          @include Noto_Serif(500);
          letter-spacing: .08em;
          color: #001c3e;
          font-size: 20px;
          text-align: right;
          margin: 25px 0 0;
          span{
            font-size: 16px;
          }
        }
      }
    }
  }
}
