@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Serif+JP:wght@300;400;500;600;700&display=swap');

$pc: 900px; // PC
$sp: 899px; // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

// @include is-max()
@mixin is-max($is-max) {
  @media only screen and (max-width: $is-max) {
      @content;
  }
}

@mixin mq($breakpoint: md, $range: max) {
  @media (#{$range}-width:#{map-get($breakpoints,$breakpoint)}) {
    @content;
  }
}
//@include mq(){}
//で使えます。空の場合はmdで判断。
//ブレイクポイントは必要な分だけ使ってください。1か所の場合はmdだけ残して数値を変えてください。
$breakpoints: (
  xs: 320px,
  sm: 375px,
  md: 800px,
  lg: 1200px,
  xl: 1500px,
);

// color: $font-color;
$font-color: #131313;

// light  @include Noto_Sans(300);
// medium @include Noto_Sans(500);
@mixin Noto_Sans($weight: 500) {
  font-family: YakuHanJP_Noto, "Noto Sans JP", sans-serif;
  font-weight: $weight;
}

@mixin Noto_Serif($weight: 400) {
  font-family: 'Noto Serif JP', serif;
  font-weight: $weight;
}

@mixin Cormorant($weight: 400) {
  font-family: 'Cormorant Garamond', serif;
  font-weight: $weight;
}

// sassで「@include arrow(#fff)」など。カラーコードは変更可能。
@mixin arrow($color: #000) {
  border-top: 1px solid $color;
  border-right: 1px solid $color;
  transform: rotate(45deg);
}
