/*==================================
  Work
==================================*/
#Work main {
  .work-section{
    .wrapper{
      padding: 0 0 125px;
      .container{
        .category{
          display: flex;
          flex-wrap: wrap;
          max-width: 555px;
          border: 1px solid #e2e4e5;
          margin: 0 0 45px;
          .lbl{
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f5f7f9;
            span{
              @include Cormorant(400);
              font-size: 20px;
              color: #001c3e;
            }
          }
          .select{
            width: calc(100% - 150px);
            .select-cat{
              height: 55px;
              width: 100%;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: .1em;
              padding: 0 15px;
              border: none;
            }
          }
        }
        .table-wrap{
          .table-cat{
            width: 100%;
            border: 1px solid #e2e4e5;
            thead{
              tr{
                background-color: #f5f7f9;
                th{
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: .1em;
                  vertical-align: middle;
                  padding: 10px 0;
                  border-bottom: 1px solid #e2e4e5;
                  &:not(:last-child){
                    border-right: 1px solid #e2e4e5;
                  }
                  &:nth-child(1){
                    width: 30%;
                  }
                  &:nth-child(2){
                    width: 20%;
                  }
                  &:nth-child(3){
                    width: 10%;
                  }
                  &:nth-child(4){
                    width: 30%;
                  }
                  &:nth-child(5){
                    width: 10%;
                  }
                }
              }
            }
            tbody{
              tr{
                &:not(:last-child){
                  border-bottom: 1px solid #e2e4e5;
                }
                td{
                  font-size: 15px;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: .1em;
                  vertical-align: middle;
                  padding: 18px 20px;
                  &:not(:last-child){
                    border-right: 1px solid #e2e4e5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
