/*==================================
  Business
==================================*/
#Business main {
  .business-section{
    .wrapper{
      padding: 0 0 110px;
      .row{
        border-bottom: 1px solid #e2e4e5;
        .col{
          position: relative;
          &:not(:first-child){
            &::before{
              content: "";
              display: block;
              width: 30px;
              height: 4px;
              background-color: #d60000;
              position: absolute;
              top: -1px;
              left: 0;
            }
          }
          &.bdr-top{
            border-top: 1px solid #e2e4e5;
          }
          &.bdr-right{
            border-right: 1px solid #e2e4e5;
          }
          &:nth-child(1){
            width: calc(100% - 33.33333333333333%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 20px 90px 20px 80px;
          }
          &:nth-child(2){
            width: calc(100% / 3);
            display: flex;
            align-items: center;
          }
          &:nth-child(n+3){
            width: calc(100% / 3);
          }
          .ttl{
            @include Noto_Serif(500);
            font-size: 50px;
            letter-spacing: .08em;
            line-height: 75px;
            color: #001c3e;
          }
          .desc{
            line-height: 36px;
            letter-spacing: .1em;
            padding-top: 18px;
            text-align: justify;
          }
          a{
            display: block;
            padding: 54px 53px 50px;
            transition: opacity .3s ease;
            &:hover{
              .img_wrap{
                &::before{
                  width: 100%;
                }
              }
              .arrow_icon{
                img{
                  right: -50px
                }
                &::before{
                  left: 0;
                }
              }
            }
            h6{
              @include Noto_Serif(700);
              font-size: 22px;
              color: #001c3e;
              padding-bottom: 20px;
              @include is-max(1125px){
                font-size: 15px;
              }
            }
            .c-desc{
              font-size: 14px;
              line-height: 28px;
              left: .08em;
              margin: 12px 0 0;
              text-align: justify;
            }
            .img_wrap{
              position: relative;
              &::before{
                content: "";
                display: block;
                width: 0;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                position: absolute;
                inset: 0;
                transition: .3s ease-in-out;
              }
            }
            .arrow_icon{
              line-height: 0;
              width: 26px;
              display: block;
              margin: 20px 0 0 auto;
              position: relative;
              overflow: hidden;
              img{
                position: relative;
                right: 0;
                transition: .3s  ease-in;
              }
              &::before{
                content: "";
                background-image: url(/images/common/arrow_icon.svg);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% auto;
                width: 26px;
                height: 100%;
                display: block;
                position: absolute;
                left: -50px;
                bottom: 0;
                transition: .3s ease-in;
              }
            }
          }
        }
      }
    }
  }
}
