/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  color: #131313;
  font-family: YakuHanJP_Noto, "Noto Sans JP", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.pc {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  &:visited {
    color: $font-color;
  }
  &:active {
    color: $font-color;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fff;
  width: 100%;
  height: 52.5px;
  &.scroll{
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.08);
  }
  .header_inner{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: inherit;
    &--left{
      height: inherit;
      display: flex;
      align-items: center;
      padding-left: 20px;
      width: 195px;
    }
    &--right{
      height: inherit;
      .nav{
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
        background-color: #f5f7f9;
        position: fixed;
        top: 52.5px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        padding-bottom: 80px;
        overflow: scroll;
        -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
        &__list{
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          width: 50%;
          padding-top: 23px;
        }
        &__item{
          width: 100%;
          padding: 15px 0 17px 20px;
          &.isOpen{
            background-color: #edf0f2;
          }
          &--btn-contact{
            display: none;
          }
          
          &__link{
            position: relative;
            font-size: 16px;
            &--arrow{
              width: 10px;
              position: relative;
              top: -6px;
              margin-left: 9px;
            }
            &--sub_menu_arrow{
              width: 15px;
              position: relative;
              top: -6px;
              left: 12px;
            }
          }
          &--sub-menu{
            transition: .3s ease-in-out;
            display: none;
            background-color: #edf0f2;
            width: 50%;
            height: 100%;
            position: fixed;
            top: 52.5px;
            right: 0;
            padding-top: 23px;
            padding-bottom: 80px;
            overflow: scroll;
            -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
            &.isOpen{
              display: block;
            }
            .wrap{
              &--left{
                display: none;
              }
              &--right{
                width: 100%;
                ul{
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  li{
                    width: 100%;
                    padding: 15px 20px 17px 30px;
                    a{
                      font-size: 16px;
                      @include is-max(365px){
                        font-size: 13px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.isOpen{
          opacity: 1;
          visibility: visible;
        }
      }
      .nav_sp{
        height: 100%;
        &--list{
          height: 100%;
          display: flex;
          justify-content: flex-end;
          &--item{
            display: block;
            width: 50px;
            height: 100%;
            &:first-child{
              margin-right: 9px;
              a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                img{
                  width: 27.5px;
                }
              }
            }
            &:last-child{
              .menu {
                position: relative;
                background: #002260;
                width: 100%;
                height: 100%;
                span {
                  position: absolute;
                  top: 13.5px;
                  left: -10px;
                  right: 0;
                  display: inline-block;
                  background: #fff;
                  width: 2px;
                  height: 25px;
                  margin: auto;
                  transition: 0.3s;
                  &.line-t.show {
                    left: 0;
                    top: 13px;
                    transform: rotate(-45deg);
                  }
                  // &.line-m {
                  //   left: 22px;
                  //   &.show {
                  //     opacity: 0;
                  //   }
                  // }
                  &.line-b {
                    left: 10px;
                    &.show {
                      top: 13px;
                      left: 0;
                      transform: rotate(45deg);
                    }
                  }
                }
                p {
                  color: #fff;
                  // padding: 35px 0 0;
                  font-size: 10px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }

  .float_sp{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 900;
    background-color: #002260;
    width: 100%;
    opacity: 0;
    transition: .3s ease-in-out;
    &.active{
      opacity: 1;
    }
    .wrap{
      border-top: 1px solid #ffffff;
      height: 60px;
      .col{
        width: 50%;
        &:first-child{
          border-right: 1px solid #fff;
        }
        a{
          display: flex;
          // flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          text-align: center;

          &.btn_tel{
            padding-top: 7px;
            &::before{
              content: "【 24時間対応! 】";
              @include Noto_Serif(700);
              font-size: 10px;
              color: #fff;
              letter-spacing: .1em;
              position: absolute;
              top: 13px;
              left: 50%;
              width: 100%;
              transform: translate(-50%, 0)
            }
            .tel{
              @include Noto_Serif(700);
              font-size: 12px;
              color: #fff;
              letter-spacing: .05em;
              position: relative;
              top: 2px;
            }
            @include Noto_Serif(700);
            font-size: 19.5px;
            letter-spacing: .05em;
            color: #fff;
          }

          &.btn_contact{
            @include Noto_Serif(700);
            font-size: 16px;
            letter-spacing: .05em;
            color: #fff;

            img{
              width: 19px;
              margin-right: 20px;

              @include is-max(340px){
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}

/* footer
==================================*/
footer {
  background: #001740;
  .footer_inner{
    .container{
      .top{
        padding-top: 39px;
        padding-bottom: 14px;
        .row{
          .col{
            &:nth-child(1){
              width: 100%;
              border-bottom: 1px solid #25385a;
              padding-bottom: 11px;
              margin-bottom: 20px;
              p{
                color: #fff;
                font-size: 16px;
                letter-spacing: .1em;
              }
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(4){
              width: 100%;
              text-align: left;
              padding-left: 10px;
              padding-bottom: 26px;
              margin-bottom: 20px;
              border-bottom: 1px solid #25385a;
            }
            &:nth-child(2){
              a{
                .footer_top_img{
                  max-width: 158px;
                  margin-bottom: 10px;
                }
              }
            }
            &:nth-child(3){
              a{
                .footer_top_img{
                  max-width: 171px;
                  margin-bottom: 10px;
                }
              }
            }
            &:nth-child(4){
              a{
                .footer_top_img{
                  max-width: 103px;
                  margin-bottom: 10px;
                }
              }
            }
            a{
              span{
                display: block;
                color: #fff;
                font-size: 14px;
                @include Noto_Sans(400);
                text-decoration: underline;
                text-underline-offset: 5px;
                img{
                  width: 10px;
                  position: relative;
                  right: -10px;
                  top: -1px;
                }
              }
            }
          }
        }
      }
      .bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 85px;
        .b_left{
          width: 100%;
          order: 2;
          display: flex;
          flex-direction: column;
          .logo{
            max-width: 204.5px;
            margin-bottom: 12px;
            order: 2;
            a{
              img{
                width: 100%;
              }
            }
          }
          p{
            order: 3;
            color: #fff;
            font-size: 14px;
            line-height: 25.2px;
            letter-spacing: .1em;
            margin-bottom: 20px;
            padding-left: 10px;
            a{
              color: #fff;
              font-size: 14px;
              letter-spacing: .1em;
            }
          }
          .menu{
            order: 1;
            padding: 30px 8px 50px;
            a{
              font-size: 15px;
              color: #fff;
              @include is-max(350px){
                font-size: 13px;
              }
              &:first-child{
                margin-right: 15px;
                padding-right: 27.5px;
                border-right: 1px solid #485976;
              }
              img{
                width: 10px;
                position: relative;
                top: -2px;
                margin-left: 10px;
              }
            }
          }
          .copy{
            order: 4;
            padding-left: 10px;
            small{
              color: #fff;
              font-size: 10px;
            }
          }
        }
        .b_right{
          width: 100%;
          .nav{
            padding-left: 8px;
            padding-bottom: 31px;
            border-bottom: 1px solid #25385a;
            &__list{
              position: relative;
            }
            &__item{
              &:not(:last-child){
                margin-bottom: 22px;
              }
              &--isFloat-mid{
                position: relative;
                margin-bottom: 22px;
                &.isActive{
                  &::before{
                    transform: rotate(320deg);
                  }
                  &::after{
                    transform: rotate(-320deg);
                  }
                }
                &::before{
                  content: "";
                  display: block;
                  width: 10px;
                  height: 1px;
                  background-color: #fff;
                  position: absolute;
                  top: 0.7rem;
                  left: 74px;
                  transform: rotate(45deg);
                  transition: .3s ease-in-out;
                }
                &::after{
                  content: "";
                  display: block;
                  width: 10px;
                  height: 1px;
                  background-color: #fff;
                  position: absolute;
                  top: 0.7rem;
                  left: 81px;
                  transform: rotate(-45deg);
                  transition: .3s ease-in-out;
                }
              }
              &--isFloat-right{
                position: relative;
                margin-bottom: 22px;
                &.isActive{
                  &::before{
                    transform: rotate(320deg);
                  }
                  &::after{
                    transform: rotate(-320deg);
                  }
                }
                &::before{
                  content: "";
                  display: block;
                  width: 10px;
                  height: 1px;
                  background-color: #fff;
                  position: absolute;
                  top: 0.7rem;
                  left: 74px;
                  transform: rotate(45deg);
                  transition: .3s ease-in-out;
                }
                &::after{
                  content: "";
                  display: block;
                  width: 10px;
                  height: 1px;
                  background-color: #fff;
                  position: absolute;
                  top: 0.7rem;
                  left: 81px;
                  transform: rotate(-45deg);
                  transition: .3s ease-in-out;
                }
              }
              &--m-t-b{
                margin-bottom: 22px;
              }
            }
            &__link{
              color: #fff;
              font-size: 15px;
              &--sub-menu{
                display: none;
                padding: 10px 0 4px 16px;
                &__item{
                  &:not(:last-child){
                    margin-bottom: 15px;
                  }
                }
                &__link{
                  color: #fff;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
  }
}
