/*==================================
  Contact
==================================*/
main#Contact {
  .container {
    p {
      font-size: 16px;

      > a {
        background: linear-gradient(#000, #000) 0 100%/0 1px no-repeat;
        background-size: 100% 1px;
        padding-bottom: 2px;
        display: inline;
      }
    }
  }

  .agree_area {
    margin: 30px 0 0;
    text-align: left;
    .checkAgree{
      font-size: 16px;
      font-weight: 500;
      left: .08em;
      line-height: 30px;
      a{
        text-decoration: underline;
        text-underline-offset: 8px;
      }
      &::before{
        display: none !important;
      }
      &::after{
        display: none !important;
      }
    }
  }

  .need {
    color: #cc0303;
  }

  table {
    display: block;

    tbody {
      display: block;
    }

    tr {
      display: block;
      margin-bottom: 25px;

      th {
        font-size: 16px;
        line-height: 1;
        letter-spacing: 0.03em;
        font-weight: 500;
        display: block;
        text-align: left;
        margin-bottom: 13px;

        .caution {
          display: block;
          text-indent: -1em;
          padding-left: 1em;
          margin-top: 8px;
        }
      }

      td {
        display: block;

        .text02 {
          margin-top: 8px;
        }
      }
    }
  }

  .check-list {
    padding-left: 0;
    padding-top: 5px;

    li {
      display: inline-block;
    }

    &.type {
      > li {
        display: block;
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.pedal {
      > li {
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &.play {
      margin-bottom: -18px;

      > li {
        padding-bottom: 18px;
        margin-right: 20px;
      }
    }
  }

  .form_wrap {
    padding: 0 0 60px;
    .desc {
      letter-spacing: .04em;
      line-height: 30px;
      text-align: justify;
      span{
        font-size: 20px;
        color: #d60000;
        position: relative;
        top: 6px;
      }
    }
    .tel-wrap{
      margin: 20px 0 35px;
      .tel-desc{
        font-size: 16px;
        letter-spacing: .1em;
        color: #001c3e;
        margin: 0 0 8px;
      }
      .tel-num{
        @include Noto_Serif(700);
        letter-spacing: .05em;
        font-size: 21px;
        color: #001c3e;
        span{
          font-size: 15px;
        }
      }
    }
  }

  &.sfm2{
    .form-sec{
      .container{
        .form_wrap{
          form{
            table{
              tr{
                border-bottom: 1px solid #e2e4e5;
                padding-bottom: 20px;
                th{
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
  &.sfm3{
    .form-sec{
      .send_comp{
        padding: 0 20px 60px;
      }
    }
  }
}
