/*==================================
  Work
==================================*/
#Work main {
  .work-section{
    .wrapper{
      padding: 0 0 60px;
      .container{
        padding-left: 0;
        padding-right: 0;
        .category{
          display: flex;
          flex-wrap: wrap;
          width: calc(100% - 40px);
          border: 1px solid #e2e4e5;
          margin: 0 auto 27px;
          
          .lbl{
            width: 92.5px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f5f7f9;
            span{
              @include Cormorant(400);
              font-size: 18px;
              color: #001c3e;
            }
          }
          .select{
            width: calc(100% - 92.5px);
            position: relative;
            background-color: #ffffff;
            &::before{
              content: '';
              display: block;
              width: 7px;
              height: 7px;
              position: absolute;
              top: 50%;
              right: 15px;
              transform: translate(0, -50%) rotate(135deg);
              border-top: 2px solid #0d2848;
              border-right: 2px solid #0d2848;
            }
            .select-cat{
              height: 45px;
              width: 100%;
              font-size: 15px;
              font-weight: 500;
              letter-spacing: .1em;
              padding: 0 10px;
              border: none;
              background-color: #ffffff;
              -webkit-appearance: none;
              -moz-appearance: none;
            }
          }
        }
        .desc{
          left: .1em;
          line-height: 25px;
          margin: 0 0 13px;
          padding: 0 20px;
        }
        .table-wrap{
          overflow: scroll;
          padding: 0 20px 0;
          .table-cat{
            width: 900px;
            border: 1px solid #e2e4e5;
            thead{
              tr{
                background-color: #f5f7f9;
                th{
                  font-size: 15px;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: .1em;
                  vertical-align: middle;
                  padding: 10px 0;
                  border-bottom: 1px solid #e2e4e5;
                  &:not(:last-child){
                    border-right: 1px solid #e2e4e5;
                  }
                  &:nth-child(1){
                    width: 30%;
                  }
                  &:nth-child(2){
                    width: 12%;
                  }
                  &:nth-child(3){
                    width: 12%;
                  }
                  &:nth-child(4){
                    width: 32%;
                  }
                  &:nth-child(5){
                    width: 14%;
                  }
                }
              }
            }
            tbody{
              tr{
                &:not(:last-child){
                  border-bottom: 1px solid #e2e4e5;
                }
                td{
                  font-size: 15px;
                  font-weight: 500;
                  line-height: 20px;
                  letter-spacing: .1em;
                  vertical-align: middle;
                  padding: 11px 15px 12px;
                  &:not(:last-child){
                    border-right: 1px solid #e2e4e5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
